$font-family: 'Roboto', sans-serif;

$color-bg: #f5f5f5;
$color-red: #c40b0b;
$color-gray: #4b4b4b;
$color-gray-line: #d5d5d5;
$color-black: #02133c;
$color-placeholder: #959595;
$color-green: #21c613;

$letter-space: 0.15px;

$container-width: 1020px;

$icon-width: 40px;
$icon-height: 40px;

$button-height: 40px;
