.Footer {
  padding-top: 50px;
  @include mq {
    padding-top: 160px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mq {
      flex-direction: row;
    }
  }
  &-main {
    padding-bottom: 50px;
    @include mq {
      padding-bottom: 98px;
    }
    &-section {
      &-logo {
        width: 174px;
        height: 39px;
      }
      &-text {
        font-size: 1em;
        line-height: 22px;
        letter-spacing: $letter-space;
        color: $color-gray;
        margin-top: 23px;
      }
      &-social {
        margin-top: 33px;
        &-media {
          & + & {
            margin-left: 18px;
          }
        }
      }
    }

    &-section {
      @include mq {
        width: 235px;
      }
    }
    &-links {
      margin-top: 22px;
      @include mq {
        margin-top: initial;
      }
      &-title {
        color: $color-gray;
      }
      &-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 28px;
        height: 160px;

        &-link {
          width: 159px;
          margin-top: 11px;
          font-size: 1em;
          color: $color-gray;
          line-height: 22px;
          letter-spacing: $letter-space;
        }
      }
    }
    &-contact {
      &-title {
        color: $color-gray;
        height: 22px;
      }
      &-container {
        margin-top: 28px;
        &-line {
          display: flex;
          margin-top: 16px;
          &-img {
            width: 16px;
            height: 16px;
            margin-right: 18px;
            position: relative;
            top: 3px;
          }
          &-text {
            width: 200px;
            font-size: 1em;
            line-height: 20px;
            letter-spacing: $letter-space;
            color: $color-gray;
          }
        }
      }
    }
  }
  &-bottom {
    background-color: $color-black;
    color: $color-placeholder;
    height: 60px;
    .container {
      line-height: 60px;
      font-size: 12px;
      letter-spacing: $letter-space;
    }
    &-left {
      display: none;
      @include mq {
        display: block;
      }
    }
    &-right {
      margin-left: auto;
      margin-right: auto;
      @include mq {
        margin-left: initial;
        margin-right: initial;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
