.Appointment {
  background-color: $color-black;
  background: url(/appointment-bg.png) no-repeat center center / cover;
  padding-top: 70px;
  padding-bottom: 140px;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @include mq {
    padding-top: 130px;
    padding-bottom: initial;
    height: 980px;
  }
  &-form {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    @include mq {
      width: 585px;
      height: 640px;
      padding-left: 57px;
      padding-right: 57px;
      padding-bottom: initial;
    }
    .button {
      margin-left: auto;
      margin-right: auto;
      margin-top: 22px;
      @include mq {
        margin-top: 30px;
        margin-right: initial;
      }
    }
    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 21px;
      input {
        margin-top: 22px;
      }
      textarea {
        margin-top: 22px;
        width: 100%;
        height: 96px;
        background-color: $color-bg;
        border: none;
        resize: none;
        padding-left: 23px;
        padding-top: 17px;
        @include mq {
          height: 180px;
        }
        &::placeholder {
          color: $color-placeholder;
        }
      }
    }
    &-title {
      font-size: 36px;
      font-weight: 900;
      line-height: 42px;
      text-align: center;
      color: $color-black;
      padding-top: 50px;
      @include mq {
        padding-top: 76px;
      }
    }
  }
  &-text {
    display: none;
    @include mq {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 280px;
      width: 324px;
      font-weight: 900;
      margin-left: 111px;
      &-title {
        color: white;
        font-size: 30px;
        text-align: center;
      }
      &-count {
        color: $color-red;
        font-size: 96px;
        line-height: 56px;
      }
      &-bottom {
        color: white;
        font-size: 19px;
        line-height: 26px;
      }
    }
  }
}
