.Customercard {
  width: 324px;
  height: 340px;
  background-color: white;
  padding: 50px 44px 40px 43px;
  &-top {
    &-text {
      color: $color-gray;
      line-height: 24px;
      letter-spacing: 0.15px;
      height: 189px;
    }
  }
  &-bottom {
    margin-top: 18px;
    &-profile {
      width: 48px;
      height: 48px;
    }
    &-name {
      color: $color-black;
      margin-top: 30px;
      margin-left: 17px;
      letter-spacing: 0.15px;
    }
  }
}
