.Customers {
  position: relative;
  &-bg {
    width: 642px;
    position: absolute;
    top: -454px;
    z-index: -1;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 164px;
    & > .Title {
      .Title-title {
        width: 323px;
      }
    }
  }
}
