.Impactcard {
  display: flex;
  align-items: center;
  &-left {
    &-img {
      width: 76px;
      height: 76px;
    }
  }
  &-right {
    margin-left: 22px;
    &-title {
      color: $color-red;
      font-size: 36px;
      line-height: 42px;
      font-weight: 900;
    }
    &-description {
      margin-top: 3px;
      color: $color-bg;
      letter-spacing: 0.15px;
      line-height: 24px;
      width: 149px;
      margin-top: 5px;
    }
  }
}
