.Link {
  display: flex;
  align-items: center;
  color: black;
  font-weight: bold;
  font-size: 1em;
  line-height: 22px;
  letter-spacing: $letter-space;
  height: 40px;
  &-text {
    display: block;
  }
  img {
    width: 16px;
    height: 16px;
    display: none;
    &.expand {
      position: relative;
      top: 1px;
      display: none;
      @include mq {
        display: block;
      }
    }
  }
}
