.Minicard {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  @include mq {
    flex-direction: row;
    align-items: initial;
    margin-top: 69px;
  }
  &-icon {
    width: 63px;
    height: 63px;
  }
  &-content {
    width: 300px;
    text-align: center;
    @include mq {
      margin-left: 23px;
      margin-top: 23px;
      margin-top: initial;
      width: 235px;
      text-align: initial;
    }
    &-title {
      font-weight: 900;
      color: $color-black;
      line-height: 26px;
      font-size: 19px;
    }
    &-text {
      font-size: 16px;
      margin-top: 23px;
      color: $color-gray;
      line-height: 24px;
    }
  }
}
