.Services {
  padding-top: 110px;
  padding-bottom: 122px;

  background-color: red;
  background: url(/gears-left-top-bg.png) no-repeat left top / cover,
    url(/gears-right-bottom-bg.png) no-repeat right bottom / cover;
  background-size: 642px;
  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
      margin-left: auto;
      margin-right: auto;
      margin-top: 66px;
    }
  }
}
