.Services {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url(/gears-left-top-bg.png) no-repeat left top / cover,
    url(/gears-right-bottom-bg.png) no-repeat right bottom / cover;
  background-size: 642px;
  @include mq {
    padding-top: 110px;
    padding-bottom: 122px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mq {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: initial;
    }
    a {
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      @include mq {
        margin-top: 66px;
      }
    }
  }
}
