.Title {
  &-subject {
    display: flex;
    align-items: center;
    img {
      width: 17px;
      height: 16px;
    }
    span {
      font-size: 12px;
      color: $color-gray;
      margin-left: 16px;
      letter-spacing: 2.5px;
    }
  }
  &-title {
    color: $color-black;
    margin-top: 33px;
    font-size: 36px;
    font-weight: 900;
    line-height: 42px;
    @include mq {
      width: 583px;
    }
  }
}
