.Video {
  background: url(/video-cover.png) no-repeat center center / cover;
  padding-top: 112px;
  padding-bottom: 120px;
  margin-top: 156px;
  &-content {
    margin-left: 819px;
    &-title {
      color: white;
      font-size: 36px;
      font-weight: 900;
      line-height: 42px;
      width: 411px;
    }
    &-play {
      width: 140px;
      height: 140px;
    }
  }
}
